01_Sampling/lucas_points/LUCAS_sample_Both_Classes_3-5.csv
01_Sampling/lucas_points/LUCAS_sample_Both_Classes_3-9.csv
01_Sampling/lucas_points/LUCAS_sample_Both_Classes_5-7.csv
01_Sampling/lucas_points/LUCAS_sample_Both_Classes_7-9.csv
01_Sampling/lucas_points/LUCAS_sample_Both_Classes_All.csv
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2006_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2006_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2006_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2006_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2009_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2009_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2009_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2009_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2012_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2012_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2012_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2012_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2015_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2015_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2015_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2015_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2018_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2018_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2018_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_agriculture_2018_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2006_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2006_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2006_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2006_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2009_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2009_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2009_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2009_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2012_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2012_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2012_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2012_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2015_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2015_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2015_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2015_7-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2018_3-5.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2018_3-9.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2018_5-7.pkl
01_Sampling/lucas_points/lucas_sample_pickle/temporary_results_fallow_2018_7-9.pkl

# Ignore large files
*.pkl